menuconfig C2USB
    bool "c2usb library"
    select CPP
    select REQUIRES_FULL_LIBCPP
    select HID_RP
    select ETL

if C2USB

rsource "../c2usb/Kconfig"
rsource "../c2usb/bluetooth/Kconfig"
rsource "../c2usb/usb/df/vendor/zephyr/Kconfig"

endif

rsource "Kconfig.hwinfo"

choice STD_CPP
    default STD_CPP20 if C2USB
endchoice

configdefault SHELL_STACK_SIZE
    default 1280 if SHELL_BACKEND_C2USB
