config C2USB_MCUX_MAC
	bool "c2usb MCUX MAC driver"
	select C2USB
	select MCUX_MISC_USB_LITE
	select MCUX_COMPONENT_middleware.usb.common_header
	select MCUX_COMPONENT_middleware.usb.device.common_header

if C2USB_MCUX_MAC

	config C2USB_MCUX_USB_COEXISTENCE
	bool "c2usb coexistence with MCUX USB stack"
	help
	  This option allows runtime coexistence between the c2usb and the MCUX USB stack.
	  You must patch usb_device_dci.c: USB_DeviceNotificationTrigger -> _USB_DeviceNotificationTrigger

endif
