menu "c2usb configuration"

config C2USB_CPP
	bool
	select CPP
	select REQUIRES_FULL_LIBCPP

rsource "bluetooth/Kconfig"

menuconfig C2USB_UDC_MAC
	bool "c2usb UDC MAC driver"
	select UDC_DRIVER
	select C2USB_CPP

if C2USB_UDC_MAC

module = C2USB_UDC_MAC
module-str = c2usb UDC MAC
source "subsys/logging/Kconfig.template.log_config"

config C2USB_UDC_MAC_MSGQ_SIZE
	int "Size of message queue receiving events from Zephyr UDC driver."
	range 4 40
	default 10

config C2USB_UDC_MAC_THREAD_STACK_SIZE
	int "UDC MAC thread stack size"
	default 1024

config C2USB_UDC_MAC_BUF_POOL_RESERVE
	int "UDC buf pool reserve that is not to be allocated by UDC MAC"
	range 96 192
	default 128

endif # C2USB_UDC_MAC

rsource "Kconfig.shell"

endmenu

choice STD_CPP
	default STD_CPP20 if C2USB_CPP
endchoice
