menuconfig C2USB_HOGP
    bool "c2usb HID over GATT"
    depends on BT

if C2USB_HOGP

module = C2USB_HOGP
module-str = c2usb HID over GATT
source "subsys/logging/Kconfig.template.log_config"

config C2USB_HOGP_POWER_EVENT
    bool "Enable HOGP control point power event callback"

config C2USB_HOGP_SCI
    bool "Enable HID Shorter Connection Intervals (SCI) support"
    depends on BT_SHORTER_CONNECTION_INTERVALS

if C2USB_HOGP_SCI

config C2USB_HOGP_MAX_CONN_INTERVAL_GROUPS
    int "Maximum number of connection interval groups"
    default 4
    range 0 41

endif # C2USB_HOGP_SCI

endif # C2USB_HOGP
